[submodule "vendor/SQLiteCpp"]
	path = vendor/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "vendor/Catch"]
	path = vendor/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "vendor/cppformat"]
	path = vendor/cppformat
	url = https://github.com/cppformat/cppformat.git
